<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ishan1608.healthifyPlus" >

    <!-- Adding permission to get accounts -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".GoogleFitService"
            android:exported="false" >
        </service>

        <receiver android:name=".GoogleFitAutoStart" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DialogActivity"
            android:label="@string/title_activity_dialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <!-- Weather section -->
        <activity
            android:name=".WeatherMainActivity"
            android:label="@string/app_name"
            android:theme="@style/ForecastTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".WeatherDetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".WeatherMainActivity"
            android:theme="@style/ForecastTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WeatherMainActivity" />
        </activity>
        <activity
            android:name=".WeatherSettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".WeatherMainActivity"
            android:theme="@style/SettingsTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WeatherMainActivity" />
        </activity>

        <provider
            android:name=".data.WeatherProvider"
            android:authorities="com.ishan1608.healthifyPlus" />

        <service android:name=".service.WeatherApplicationService" />

        <receiver
            android:name=".service.WeatherApplicationService$AlarmReceiver"
            android:enabled="true" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".WaterReminderAlarmReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
        <receiver
            android:name=".ActivityReminderAlarmReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>

        <activity
            android:name=".ArticleView"
            android:label="@string/title_activity_article_view"
            android:parentActivityName=".MainActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ishan1608.healthifyPlus.MainActivity" />
        </activity>
    </application>

</manifest>
